header {
    background-color: #304969;
    color: white;
    padding: 10px;
    height: 150px;
    position: absolute;
    top: 0; left: 0; right: 0;
    > a {
        color: white;
        text-decoration: none; 
    }
    nav {
        display: inline-block;
        h1 {
            margin: 0;
        }
        a {
            float: left;
            color: white;
            padding: 8px 30px 8px;
            text-decoration: none;
            position: relative;
            border-bottom: 5px solid transparent;
            &.active {
                border-bottom: 5px solid #506989;
            }
            &:hover {
                border-bottom: 5px solid #506989;
            }
            &:after {
                content: ' ';
                border-right: 1px solid white;
                position: absolute;
                height: 20px;
                right: 0;
                top: 50%;
                margin-top: -10px;
            }
            &:last-child:after {
                content: none;
                border: none;
            }
        }
    }
}
main {
    height: 100%; width: 100%; position: relative; padding-left: 250px;
}