<header>
    <a routerLink=""><h1>Angular Playground</h1></a>
    <nav>
        <a routerLink="/lastmanstanding" routerLinkActive="active">Last Man Standing</a>
        <a href="#">Live Score Card</a>
        <a href="#">Spain 2015</a>
        <a href="#">Spain 2016</a>
        <a href="#">Portugal 2017</a>
    </nav>
</header>
<main>
    <router-outlet></router-outlet>
</main>
