/* You can add global styles to this file, and also import other style files */
* { box-sizing: border-box; }
body, html { width: 100%; height: 100%; padding: 0; margin: 0; }

body { 
    font: 1em Arial; 
    padding: 0;
    nav {
        display: inline-block;
        background-color: #232334;
        width: 100%;
        margin-bottom: 10px;
        > a {
            text-decoration: none;
            padding: 10px 40px;
            color: #eee;
            display: inline-block;
            border-bottom: 5px solid transparent;
            &.active {
                border-bottom: 5px solid #838394;
            }
        }
       
    }
}