.wizard-holder {
    border: 1px solid #ddd;
}

.wizard-content {
    width: 100%; height: 100%; padding: 5px; min-height: 200px;
}


ul {
    margin: 0; padding: 0;
}

ul li {
    font-size: 16px; margin: 0; width: 33.333333%; border-bottom: 4px solid lightgray; display: inline-block;
    text-align: center; padding: 15px 0;
}

ul li.active {
    border-bottom: 4px solid steelblue;
}

ul li:last-child {
    border-right: none;
}

.wizard-footer {
    padding: 20px;
    border-top: 1px solid #ddd;
    > button {
        transition: background-color 0.1s ease-in;
        border: 1px solid silver;;
        background-color: white;
        padding: 10px 40px;
        border-radius: 5px;
        display: inline-block;
        &.prev {
            float: left;
        }
        &.next {
            float: right;
        }
        &:hover {
            background-color: silver;
        }
        &[hidden] {
            /* required for chrome */
            display: none;
        }
    }
    &:after {
        content: ' ';
        clear: both;
        display: table;
    }
}