a {
    text-decoration: none;
    display: block;
    padding: 8px 10px;
    color: black;
    &.active {
        &:after {
            content: '>';
            position: absolute;
            right: 10px;
            font-weight: bold;
        }
    }
}