* { box-sizing: border-box; }
html, body { width: 100%; height: 100%; }
body { font-size: 12px; font-family: arial; }
form { border: 1px solid silver; width: 350px; padding: 20px; margin: 50px auto; }
form h1 {margin-top: 0; margin-bottom: 20px; }
form label { font-size: 16px; display: block; margin-bottom: 5px; }
form input[type="text"] { padding: 8px; display: block; width: 100%; border: 1px solid silver; margin-bottom: 15px; }
form .error-message {
    position: relative; top: -10px; color: red;
}
