<main>
    <h1>Hello World {{title}}</h1>
    <div>
        <wizard>
            <wizard-step [label]="'step one'">
                <h1>Step One</h1>
            </wizard-step>
            <wizard-step [label]="'step two'">
                <h1>Step Two</h1>
            </wizard-step>
            <wizard-step [label]="'step three'">
                <h1>Step Three</h1>
            </wizard-step>
        </wizard>
    </div>
</main>