* { box-sizing: border-box; }
html, body { width: 100%; height: 100%; }
body { padding: 20px; margin: 0; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Geneva, Verdana, sans-serif; font-size: 1em; color: #333; }


nav {
    a {
        display: inline-block;
        padding: 8px 30px;
        background-color: #73c5e6;
        border-radius: 5px;
        color: black;
        text-decoration: none;
        color: #444;
        &:hover {
            background-color: #27aedf
        }
    }
}