<nav>
    <a [routerLink]="[ { outlets: { primary: 'competitions', lms: null} } ]" routerLinkActive="active">Competitions</a>
    <a href="#">Teams</a>
    <a href="#">Players</a>
    <a href="#">My Profile</a>
</nav>
<section>
    <div class="pane-left">
        <router-outlet></router-outlet>
    </div>
    
    <div class="pane-right">
        <router-outlet name="lms"></router-outlet>
    </div>
    
</section>