nav {
    position: absolute;
    left: 0; width: 250px; height: 100%;
    background-color: #607999;
    a {
        color: white;
        displaY: block;
        padding: 8px 10px;
        text-decoration: none;
        &.active {
            &:after {
                content: '>';
                position: absolute;
                right: 10px;
                font-weight: bold;
            }
        }
    }
}
section {
    width: 100%; height: 100%;
    background-color: #efefef;
    > .pane-left {
        float: left;
        width: 30%;
        height: 100%;
        background-color: orange;
        position: relative;
    }
    > .pane-right {
        float: right;
        width: 70%;
        height: 100%;
        background-color: silver;
        padding: 10px;
        position: relative;
    }
}