<form #form="ngForm" novalidate>
  <h1>Login</h1>
  <label for="username">Username</label>
  <input  type="text"
          ngModel 
          name="username" 
          id="username"
          required 
          username-check
          #username="ngModel"
          autofocus />
  <div class="error-message" *ngIf="username.dirty && username.errors?.usernamecheck">Username not correct</div>
  <label for="password">Password</label>
  <input  type="text"
          ngModel 
          name="password" 
          id="password"
          required 
          password-check
          custom
          #password="ngModel" />
  <div class="error-message" *ngIf="password.dirty && password.errors?.passwordcheck">Password not correct</div>
  <div>
      <button>Submit</button>
      <button (click)="onReset($event, form, username)">reset</button>
  </div>
</form>