* { box-sizing: border-box; }
html, body { width: 100%; height: 100%; }
body { padding: 150px 0 0 0; margin: 0; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Geneva, Verdana, sans-serif; font-size: 1em; color: #333; }

p, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
}